.category {
    margin: 5px;
    padding: 5px;
    min-height: min-content;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.categoryTitle {
    font-family: rainFontBold;
    padding-bottom: 8px;
    flex-basis: 100%;
    opacity: 0.5;
    border-bottom: 2px dashed black;
    user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
}