.itemPanel {
    width: 70%;
    background-color: #363636;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}


.loadText {
    font-family: rainFontBold;
    font-size: 2em;
    color: grey;
}

.loadWrap {
    width: 70%;
    background-color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .itemPanel {
        width: 100%;
    }
} 