.infoPanel {
    resize: horizontal;
    min-width: 30%;
    width: 30%;
    background-color: #252525;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 3px solid #474747;
    border-radius: 0.4vw;
    margin: 0.5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 1em;
}

.closeButton {
    width: 2.5em;
    display: none;
    cursor: pointer;
    align-self: flex-end;
    margin: 0.2em;

}

.infoTitle {
    font-family: rainFontBold;
    font-size: 2em;
    color: white;
}

.infoSubtitle {
    color: #7e7e7e;
    margin-top: 2%;
}

.infoImage {
    filter: drop-shadow(0px 0px 20px #00000085);
    image-rendering: crisp-edges;
    /* transition: all 120ms ease-in; */
    animation: zoomIn 1s;
    flex-shrink: 0;
    width: 25%;
}

.spacer {
    flex: 1;
}

@keyframes zoomIn {
    0% { 
        transform: scale(0.95);
        opacity: 0.2;
    }
    100% { 
        transform: scale(1);
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .infoPanel {
        width: 100%;
        resize: none;
    }
    
    .closeButton {
        display: block;
    }
} 