.transition-group {
    flex: 1;
    position: relative;
  }

.fade-enter .infoPanel {
    opacity: 0;
    z-index: 1;
}
  
.fade-enter.fade-enter-active .infoPanel {
    opacity: 1;
    transition: opacity 450ms ease-in;
}

.panelsFlex {
    min-height: calc(100% - 40px);
    display: flex;
}

.router {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  