@font-face {
    font-family: "rainFont";
    src: url('riskofRainFont/RiskofRainFont.ttf')
}

@font-face {
    font-family: "rainFontBold";
    src: url('RiskofRainSquare/RiskofRainSquare.ttf')
}

html, body {
    margin: 0px;
    height: 100%;
    background-color: #252525;
    font-family: rainFont, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.mainFlex {
    display: flex;
    flex-direction: column;
    height: 100%
}

.titleBar {
    height: 80px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #474747;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.titleWrap {
    display: flex;
}

.search {
    width: 20%;
    height: 20%;
    background-color: #252525;
    font-family: rainFont;
    color: white;
    font-size: 100%;
    border-width: 0px;
    padding: 15px;
}

.contentContainer {
    display: flex;
    height: 100%;
}

.itemPanel {
    width: 70%;
    background-color: #363636;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden; 
}

.category {
    margin: 10px;
    margin-bottom: 0px;
    padding: 5px;
    min-height: min-content;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.item {
    filter: drop-shadow(0px 0px 10px #00000070);
    width: 80px;
    height: 80px;
    margin: 5px;
    padding: 5px;
    transition: all 120ms ease-in;
    user-select: none;
    
}

.item:hover {
    filter: drop-shadow(0px 0px 20px #0000002a);
    transform: scale(1.5);
}

.infoPanel {
    width: 30%;
    height: 100%;
    background-color: #252525;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 14.5px;
}

.subInfoPanel {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    align-items: center;
    overflow-x: hidden;
}

.infoname {
    font-family: rainFontBold;
    font-size: 32px;
    color: white;
}

.infoImage {
    filter: drop-shadow(0px 0px 20px #00000070);
    width: 30%;
}

.infodescription {
    width: 100%;
    padding: 5px;
}

.infocooldown {
    width: 100%;
    padding: 5px;
}

.infostack {
    width: 100%;
    padding: 5px;
}

.infoembryo {
    width: 100%;
    padding: 5px;
}

.infounlock {
    width: 100%;
    padding: 5px;
}

.infoVideo {
    padding: 15px;
}

.select {
    filter: drop-shadow(0px 0px 15px #ffffff70);
    transform: scale(1.5);
    animation: selectPulse 0.4s;
}

.select:hover {
    filter: drop-shadow(0px 0px 15px #ffffff70);
}

.gray {
    color: #7e7e7e;
    margin-top: 10px;
    margin-bottom: 10px;
}

.white {
    border-color: #ffffff;
}

.green {
    border-color: #93e180;
}

.red {
    border-color: #e7543a;
}

.yellow {
    border-color: #ffff00;
}

.orange {
    border-color: #ff8000;
}

.purple {
    border-color: #ab6fbe;
}

.hidden {
    display: none;
}

.faded {
    opacity: 0.15;
}

.fadeOut {
    opacity: 0;
    animation: fadeOutAnim 0.2s;
}

.fadeIn {
    opacity: 1;
    animation: fadeInAnim 0.2s;
}

@keyframes fadeOutAnim {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeInAnim {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes selectPulse {
    0% { transform: scale(1.5) }
    25% { transform: scale(1.4) }
    50% { transform: scale(1.8) }
    75% { transform: scale(1.4) }
    100% { transform: scale(1.5) }
}