@font-face {
    font-family: "rainFont";
    src: url('riskofRainFont/RiskofRainFont.ttf')
}

@font-face {
    font-family: "rainFontBold";
    src: url('RiskofRainSquare/RiskofRainSquare.ttf')
}

html, body {
    margin: 0px;
    height: 100%;
    background-color: #252525;
    font-family: rainFont, Helvetica, sans-serif;
    text-align: center;
    color: white;
    overflow: hidden;
}

.mainFlex {
    display: flex;
    flex-direction: column;
    height: 100%
}

.titleText {
    font-family: rainFontBold;
    font-stretch: expanded;
    font-size: 200%;
}

.titleBar {
    background-color: #474747;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.titleWrap {
    display: flex;
    padding-left: 0.5%;
    padding-right: 0.5%;
    align-items: center;
}

.titleIcon {
    position: relative;
}

.search {
    width: 20%;
    background-color: #252525;
    font-family: rainFont;
    color: white;
    flex-grow: 1;
    font-size: 100%;
    border-width: 0px;
    padding: 10px;
}

.clearButton {
    z-index: 1;
    cursor: pointer;
    visibility: hidden;
    margin-left: -37px;
    margin-right: 0%;
    width: 9%;
}

.gearButton {
    cursor: pointer;
    margin-left: 3%;
    width: 9%;
}

.gearButton:hover {
    animation: gearSpin 0.3s;
}

.contentContainer {
    display: flex;
    min-height: 0;
    height: 100%;
}

.itemPanel {
    width: 70%;
    background-color: #363636;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.category {
    margin: 5px;
    padding: 5px;
    min-height: min-content;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.item {
    filter: drop-shadow(0px 0px 10px #00000070);
    object-fit: contain;
    width: 7%;
    height: 7%;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all 120ms ease-in;
    user-select: none;
    
}

.item:hover {
    filter: drop-shadow(0px 0px 20px #0000002a);
    transform: scale(1.5);
}

.infoPanel {
    width: 30%;
    height: 100%;
    background-color: #252525;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 100%;
}

.subInfoPanel {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    align-items: center;
    overflow-x: hidden;
}

.infoname {
    font-family: rainFontBold;
    font-size: 32px;
    color: white;
}

.infoImage {
    filter: drop-shadow(0px 0px 20px #00000070);
    flex-shrink: 0;
    width: 30%;
}

.infodescription {
    width: 100%;
    padding: 5px;
}

.infocooldown {
    width: 100%;
    padding: 5px;
}

.infostack {
    width: 100%;
    padding: 5px;
}

.infoembryo {
    width: 100%;
    padding: 5px;
}

.infounlock {
    width: 100%;
    padding: 5px;
}

.infoVideo {
    padding: 15px;
    width: 95%
}

.pageDim {
    z-index: 1;
    position: absolute;
    visibility: hidden;
    background-color: #000000ad;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionsPanel {
    background-color: #393939;
    border-color: #252525;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    width: 30%;
}

.closeButton {
    display: block;
    cursor: pointer;
    min-height: 5%;
    margin-left: 85%;
    margin-top: 2%;
}

.closeButton:hover {
    animation: buttonPulse 0.3s;
}

.select {
    filter: drop-shadow(0px 0px 15px #ffffff70);
    transform: scale(1.5);
    animation: selectPulse 0.4s;
}

.select:hover {
    filter: drop-shadow(0px 0px 15px #ffffff70);
}

.fullWidth {
    width: 100%;    
}

.dividerLine {
    background-color: #2a2a2a;
    margin: 5px;
    height: 2px;
    width: 90%;
}


.link {
    cursor: pointer;
    text-decoration: underline;
}

/* start of toggle switch css */

.switchWrap {
    width: 90%;
    background-color: #2a2a2a;
    margin: 5px;
    border-radius: 10px;
}

.toggleWrap {
    position: relative;
}

.toggleWrap input {
    display: none;
}

.toggle {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #252525;
    border-color: #ff8000;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0px 2px 8px #0000004d;
    transition: background-color 200ms;
}

.toggle:before {
    content: 'leftText';
    right: 110%;
    position: absolute;
    font-size: 16px;
}

.toggle:after {
    content: 'rightText';
    left: 118%;
    position: absolute;
    font-size: 16px;
    color: #7e7e7e;
}

.toggleHandle {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 100%;
    background-color: #ff8000;
    transition: transform 200ms;
    transform: translateX(-52%);
}

input:checked + .toggle .toggleHandle {
    transform: translateX(52%);
}

input:checked + .toggle:before {
    color: #7e7e7e;
}

input:checked + .toggle:after {
    color: #ffffff;
}

input:checked + .toggle {
    background-color: #814100;
}

.toggleBool {
    cursor: pointer;
}

.toggleBool:before {
    content: 'Off';
}

.toggleBool:after {
    content: 'On';
}

.toggleSort {
    cursor: pointer;
    white-space: nowrap;
}

.toggleSort:before {
    content: 'Alphabetical';
}

.toggleSort:after {
    content: 'Command';
}

/* end of toggle switch css */

.gray {
    color: #7e7e7e;
    margin-top: 10px;
    margin-bottom: 10px;
}

.white {
    border-color: #ffffff;
    color: #ffffff;
}

.green {
    border-color: #93e180;
    color: #93e180;
}

.red {
    border-color: #e7543a;
    color: #e7543a;
}

.yellow {
    border-color: #ffff00;
    color: #ffff00;
}

.orange {
    border-color: #ff8000;
    color: #ff8000;
}

.purple {
    border-color: #ab6fbe;
    color: #ab6fbe;
}

.misc {
    border-color: #7e7e7e;
    color: #7e7e7e;
}

.hidden {
    display: none;
}

.unhideClear {
    visibility: visible;
    animation: clearButtonPulse 0.3s;
}

.unhideDim {
    visibility: visible;
    animation: fadeInAnim 0.5s;
}

.smallText {
    font-size: 85%;
}

.faded {
    opacity: 0.15;
}

.fadeOut {
    opacity: 0;
    animation: fadeOutAnim 0.2s;
}

.fadeIn {
    opacity: 1;
    animation: fadeInAnim 0.2s;
}

@keyframes fadeOutAnim {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeInAnim {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes selectPulse {
    0% { transform: scale(1.5) }
    25% { transform: scale(1.4) }
    50% { transform: scale(1.8) }
    75% { transform: scale(1.4) }
    100% { transform: scale(1.5) }
}

@keyframes buttonPulse {
    0% { transform: scale(1.0) }
    25% { transform: scale(0.9) }
    50% { transform: scale(1.1) }
    75% { transform: scale(0.9) }
    100% { transform: scale(1.0) }
}

@keyframes clearButtonPulse {
    0% { transform: scale(0.0) }
    50% { transform: scale(1.2) }
    75% { transform: scale(0.8) }
    100% { transform: scale(1.0) }
}

@keyframes gearSpin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(180deg) }
}

@media screen and (max-width: 560px) {
    .item { 
        width: 18%;
        height: 18%;
    }

    .titleIcon {
        display: none;
    }

    .optionsPanel {
        height: 100%;
        flex-grow: 1;
    }

    .titleText {
        font-size: 150%;
    }

    .clearButton {
        margin-left: -12%;
        margin-right: 2%;
        width: 10%;
    }

    .gearButton {
        width: 15%;
        margin-right: 2%;
    }

    .toggle:before, .toggle:after {
        font-size: 12px;
        top: 5px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 560px) {

    .item { 
        width: 15%;
        height: 15%;
    }

    .optionsPanel {
        height: 100%;
        flex-grow: 1;
    }

    .closeButton {
        margin-left: 93%;
    }

    .infoPanel {
        width: 40%;
    }

    .itemPanel {
        width: 60%;
    }
}

@-moz-document url-prefix() { 
    .item {
        height: unset;
    }

    .gearButton {
        width: 13%;
    }

    .clearButton {
        margin-right: 5%;
    }
}