.settingsWrap {
    display: flex;
    width: 100%;
}

.switchesWrap {
    display: flex;
    width: 50%;
    flex-direction: column;
    overflow-y: auto;
}

@media only screen and (max-width: 600px) {
    .settingsWrap {
        flex-direction: column;
    }
    .switchesWrap {
        width: 100%;
    }
}