.tooltipWrap {
    position: absolute;
    visibility: hidden;
    -moz-user-select: text;
    -webkit-user-select: text;
    background-color: #363636;
    border: 0.2em solid black;
    border-radius: 0.5em;
    z-index: 1;
    padding: 5px;
}

.tooltip:after {
    content: '';
    position: absolute;
}

.tooltipImage {
    height: 1.3em;
}

.tooltip .tooltipText {
    text-align: center;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}

.tooltip a:link {
    color: red;
}

.tooltip a:visited {
    color: red;
}